@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
 /* buscar font igual y quitar código repetido */
:root {
  --green: #0d9979;
  --text-white: #535c59;
  --text-ligh-color: #495551;
  --body-bg-color: #eef6d7;
  --glass-bg-color: hsla(0, 0%, 100%, 0.5);
  --border-color: hsl(0, 0%, 100%);
  --blur: blur(10px);
  --button-hover-color: rgba(107, 180, 57, 0.3);
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .5s cubic-bezier(.37, 1.14, .26, 1.24);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 650px;
  background-color: white;
  color: var(--text-white);
  font-family: aileron, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
} 

/*### HEADER NAV ###*/

header {
  display: flex;
  height: 120px;
  background: rgb(116, 175, 134);
  background: linear-gradient(90deg, rgb(105, 182, 150) 0%, rgb(224, 203, 105) 100%);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding: 10px;
}

nav a:hover {
  color: #045658
}

nav a img {
  height: 30px;
  align-items: center;
  margin-right: 30px;
}


/*Inicio*/
.heading {
  text-align: center;
  font-size: 4rem;
  color: #555;
  padding: 1rem;
  padding-top: 7rem;
}

.heading i {
  color: var(--green);
  font-size: 0rem;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  text-align: center;
  padding: 1rem;
}

.home .content h1 {
  font-size: 5rem;
  color: var(--green);
}

.home .content p {
  font-size: 1.9rem;
  color: #333;
  padding: 1rem 0;
  width: 70rem;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 40rem;
  padding: 2rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 2rem;
  color: var(--green);
}

.about .row .content p {
  font-size: 1.0rem;
  color: #666;
  padding: 1rem 0;
}

image.redimension {
  max-width: fit-content;
  max-height: fit-content;
}

#TresR {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

#TresR article {
  width: 326px;
  margin-bottom: 76px;
}

#TresR article h2 img {
  vertical-align: middle;
  margin-right: 5px;
  width: 45px;
  height: 45px
}

/*FOOTER*/
footer {
  width: 100%;
  height: 150px;
  background-color: #2b2b2b;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contenido-Footer a {
  color: #fff;
  font-weight: 600;
}

#logo-Footer {
  width: 150px;
  height: 150px;
  vertical-align: middle;
  margin-right: 16px;
}

#Logo {
  display: flex;
  align-items: center;
}

#redes {
  margin-right: 20px;
  display: flex;
}

#redes img {
  width: 20px;
  margin-right: 30px;
}

/*FIN FOOTER*/