@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
 /* buscar font igual y quitar código repetido*/
:root {
  --green: #0d9979;
  --text-white: #535c59;
  --text-ligh-color: #495551;
  --body-bg-color: #eef6d7;
  --glass-bg-color: hsla(0, 0%, 100%, 0.5);
  --border-color: hsl(0, 0%, 100%);
  --blur: blur(10px);
  --button-hover-color: rgba(107, 180, 57, 0.3);
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  transition: all .5s cubic-bezier(.37, 1.14, .26, 1.24);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 650px;
  background-color: white;
  color: var(--text-white);
  font-family: aileron, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

/*### HEADER NAV ###*/

header {
  display: flex;
  height: 120px;
  background: rgb(116, 175, 134);
  background: linear-gradient(90deg, rgb(105, 182, 150) 0%, rgb(224, 203, 105) 100%);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding: 10px;
}

nav a:hover {
  color: #045658
}

nav a img {
  height: 30px;
  align-items: center;
  margin-right: 30px;
}



/*Inicio*/
.heading {
  text-align: center;
  font-size: 4rem;
  color: #555;
  padding: 1rem;
  padding-top: 7rem;
}

.heading i {
  color: var(--green);
  font-size: 0rem;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  text-align: center;
  padding: 1rem;
}

.home .content h1 {
  font-size: 5rem;
  color: var(--green);
}

.home .content p {
  font-size: 1.9rem;
  color: #333;
  padding: 1rem 0;
  width: 70rem;
}



.about .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 40rem;
  padding: 2rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 2rem;
  color: var(--green);
}

.about .row .content p {
  font-size: 1.0rem;
  color: #666;
  padding: 1rem 0;
}

image.redimension {
  max-width: fit-content;
  max-height: fit-content;
}

main {
  min-height: 50px;
  width: 1100px;
  margin: auto;
  padding-right: 80px;
}

#TresR {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#TresR article {
  width: 326px;
  margin-bottom: 76px;
}

#TresR article h2 img {
  vertical-align: middle;
  margin-right: 5px;
  width: 45px;
  height: 45px
}


/*###SOBRE NOSOTROS###*/
.SobreNosotros{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(rgba(238, 240, 235, 0.75), rgba(236, 238, 234, 0.75)), url(../img/humanos-reciclan.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.SobreNosotros .content{
  display: flex;
  text-align: center;
  padding:2rem;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.SobreNosotros .content h1{
  font-size: 4rem;
  color:#55be8a;
  
}

.SobreNosotros .content p{
  font-size: 1.3rem;
  color:rgb(3, 3, 3);
  padding:1rem 0;
  width: 70rem;

}


/*CARDS DE LAS CHICAS*/
main {
  width: 90%;
  overflow:hidden;
  font-family: Helvetica, sans-serif;
  color: rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  flex-wrap: wrap;

}
.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
  
}

.container:hover > .card  {
  cursor: pointer;
  transform: rotateY(180deg);
}

 /*Evelyn Sosa*/
  .card .front   {
  background-image: url(../img/Evelyn\ Sosa.jpg);
  background-size: cover;
  
}

.card {
  height: 90%;
  width: 90%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
/*Yamisbel Luna*/
.container:hover > .card2  {
  cursor: pointer;
  transform: rotateY(180deg);
}


.card2 {
  height: 90%;
  width: 90%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.card2 .front   {
  background-image: url(../img/Yamisbel\ Luna.jpg);
  background-size: cover;
  
}
/*Daniela Avalos*/
.container:hover > .card3  {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card3 {
  height: 90%;
  width: 90%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.card3 .front   {
  background-image: url(../img/Daniela\ Avalos.jpg);
  background-size: cover;
  
}
/*Cynthia Morales*/
.container:hover > .card4  {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card4 {
  height: 90%;
  width: 90%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.card4 .front   {
  background-image: url(../img/Cynthia.jpg);
  background-size: cover;
}

/*Melina Britez*/
.container:hover > .card5  {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card5 {
  height: 90%;
  width: 90%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.card5 .front   {
  background-image: url(../img/MelinaBritez.jpeg);
  background-size: cover;
  
}
/*María Sol*/
.container:hover > .card6  {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card6 {
  height: 90%;
  width: 90%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.card6 .front   {
  background-image: url(../img/María\ Sol.jpg);
  background-size: cover;
  
}
.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}



.back {
  background-color:#568d4f;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.back .p {
 font-size: small;

}
/*FIN CARDS DE LAS CHICAS*/

/*###FIN SOBRE NOSOTROS###*/

/*###PUNTOS VERDES###*/

/* MAPA */

#map {
  height: 100%;
  width: 98%;
  padding: 18%;
  margin: 20px;
  margin-right: 20px;
}

/* FIN MAPA */

#titulo-puntos-verdes{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding: 32px;
}

#titulo-puntos-verdes h1{
  display: flex;
  justify-content: center;
}

.puntos-verdes {
  padding: 20px;
  display: grid;
  justify-content: space-around;
  align-content: center;
}

.puntos-verdes h2 {
  width: 100%;
  padding: 12px;
  text-align: center;
  color: white;
  background-color: #045658;
}

.puntos-verdes article {
  padding: 16px;
  background-color: white;
  border: 1px solid #045658;
}

.puntos-verdes article img {
  vertical-align: middle;
  margin-right: 5px;
  width: 40px;
  height: 40px
}


.puntos-verdes article h3,
span {
  color: black;
  display: flex;
  justify-content: baseline;

}

.puntos-verdes article:hover {
  background-color: #dfdfaa;
}

/*###GRILLA PUNTOS VERDES###*/

#CABA,
#ZONA-NORTE,
#ZONA-SUR,
#ZONA-OESTE {

  margin: 32px 0;
  display: grid;
  grid-template-columns: 320px 320px 320px 320px;
  grid-template-rows: 250px auto;
  gap: 8px;
}

/*###FIN PUNTOS VERDES###*/

/*###INICIAR SESIÓN###*/
.gradient-text {
  background: #eef6d7;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.form-main {
  min-height: 100vh;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 1;
}

.form-content .box {
  background-color: #349b62b0;
  border-color: var(--glass-bg-color);
  border: 1px solid var(--border-color);
  padding: 40px 50px;
  border-radius: 20px;
  backdrop-filter: var(--blur);
}

.form-content h3 {
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  color: var(--text-white);
  font-weight: 500;
}

.form-content form {
  margin: 25px 0 20px;
}

.form-content .input-box {
  margin: 25px;
}

.form-content ::placeholder {
  color: inherit;
  opacity: 1;
}

.form-content .input-control {
  display: block;
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  color: inherit;
  font-family: inherit;
  font-size: 16px;
}

.form-content .input-control:focus {
  outline: none;
}

.form-content .input-link {
  margin-top: 10px;
  text-align: right;
}

.form-content .btn {
  height: 45px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  background: #eef6d7;
  border: none;
  color: var(--text-white);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.form-content .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: -1;
}

.form-content .btn:hover::before {
  background-color: var(--button-hover-color);
}

.form-content p {
  text-align: center;
}

@media(max-width: 575px) {

  body::after,
  body::before {
    height: 250px;
    width: 250px;
    filter: blur(100px);
  }

  .form-content .box {
    padding: 30px;
  }

  .form-content h3 {
    font-size: 24px;
  }
}

/*###FIN INICIAR SESIÓN###*/

/*Contacto*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;

}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(../img/Background.jpg) no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
  
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background:linear-gradient(rgba(238, 240, 235, 0.75), rgba(236, 238, 234, 0.75)), url(../img/prueba.jpg) no-repeat;
  background-size: cover;
  background-position: center;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);

}

.left{
	background: url(../img/prueba.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/*###FIN CONTACTO###*/


/*FOOTER*/
footer {
  width: 100%;
  height: 150px;
  background-color: #2b2b2b;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contenido-Footer a {
  color: #fff;
  font-weight: 600;
}

#logo-Footer {
  width: 150px;
  height: 150px;
  vertical-align: middle;
  margin-right: 16px;
}

#Logo {
  display: flex;
  align-items: center;
}

#redes {
  margin-right: 20px;
  display: flex;
}

#redes img {
  width: 20px;
  margin-right: 30px;
}

/*FIN FOOTER*/